:root {
  --serif-font: "Noto Serif JP", serif;
  --sans-serif-font: "Raleway", sans-serif;

  --primary-color: #e6e6fa;
  --secondary-color: #8a2be2;
}

h1 {
  font-family: var(--serif-font);
  font-size: 80px;
}

h2 {
  font-size: 45px;
}

h4 {
  font-size: 28px;
}

h2,
h4,
.hero-nav-links {
  font-family: var(--sans-serif-font);
}

.navigationBar {
  font-family: var(--sans-serif-font);
  font-weight: 500;
}

.hero {
  background-color: var(--primary-color);
  text-align: center;
  padding-top: 160px;
  padding-bottom: 140px;
}

.tagline {
  margin-top: 25px;
}

.content {
  font-family: var(--sans-serif-font);
}

footer {
  font-family: var(--sans-serif-font);
  text-align: center;
  margin: 45px 0 35px 0;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

.hero-btn {
  background-color: var(--secondary-color);
  color: white;
  font-size: 18px;
  margin: 10px 10px;
  padding: 8px 20px;
}

.hero-btn:hover {
  background-color: #440a67;
  color: white;
  transition: 3ms ease-in-out;
}

.content a {
  text-decoration: none;
  font-family: var(--sans-serif-font);
}

.content a:hover {
  text-decoration: underline;
}

.certificateHeading {
  margin-bottom: 20px;
}

.sheCodesCertificates {
  background-color: var(--primary-color);
  border-radius: 10px;
  padding: 18px 15px 45px 15px;
}

.certificate {
  transition: transform 0.2s;
}

.certificate:hover {
  transform: scale(1.1);
}

.socials {
  margin: 100px 0 25px 0;
}

.linkedInLogo,
.githubLogo {
  width: 50px;
  display: block;
  margin: 0 auto;
  transition: transform 0.2s;
}

.linkedInLogo:hover,
.githubLogo:hover {
  transform: scale(1.1);
}

.socialsHeading {
  text-align: center;
  font-size: 18px;
  font-family: var(--sans-serif-font);
}

/*Media Queries*/

@media (max-width: 900px) {
  h1 {
    font-size: 40px;
  }

  h2,
  h4 {
    font-size: 25px;
  }

  .contact-header {
    padding-top: 260px;
    padding-bottom: 240px;
  }

  .hero-btn {
    font-size: 16px;
    padding: 8px 18px;
    margin: 15px 8px;
  }

  .content {
    text-align: center;
  }

  li {
    list-style-type: none;
  }

  .draculaThemeLink {
    font-size: 16px !important;
  }

  .content a {
    font-size: 25px;
    text-decoration: underline;
    margin-top: 15px;
  }

  .socials h4 {
    display: none;
  }

  .about {
    margin-top: 10px !important;
  }

  .certificateHeading {
    text-align: center;
  }

  .certificate {
    margin-bottom: 10px;
  }

  footer {
    font-size: 14px;
  }
}
