:root {
  --serif-font: "Noto Serif JP", serif;
  --sans-serif-font: "Raleway", sans-serif;
}

h1 {
  font-family: var(--serif-font);
  font-size: 80px;
}

h2 {
  font-size: 45px;
}

h4 {
  font-size: 28px;
}

h2,
h4,
.hero-nav-links {
  font-family: var(--sans-serif-font);
}

/* homepage css */

footer {
  font-family: var(--sans-serif-font);
  text-align: center;
}

footer a {
  text-decoration: none;
}

.hero-homepage {
  background-color: lavender;
  text-align: center;
  padding-top: 140px;
  padding-bottom: 140px;
}

.hero-tagline {
  margin-top: 25px;
}

.hero-btn {
  background-color: blueviolet;
  color: white;
  font-size: 18px;
  margin: 10px 10px;
  padding: 8px 20px;
}

.hero-btn:hover {
  background-color: #440a67;
  color: white;
  transition: 3ms ease-in-out;
}

.navigationBar {
  font-family: var(--sans-serif-font);
  font-weight: 500;
}

.content-homepage a {
  text-decoration: none;
  font-family: var(--sans-serif-font);
}

.homepageParagraph a {
  font-size: 20px;
}

.socials {
  margin: 100px 0 25px 0;
}

.linkedInLogo,
.githubLogo,
.instagramLogo {
  width: 75px;
  display: block;
  margin: 0 auto;
}

.socialsHeading {
  text-align: center;
  font-size: 18px;
  font-family: var(--sans-serif-font);
}

/* about page css */

.hero-about {
  background-color: lavender;
  text-align: center;
  padding: 160px;
}

/*Media Queries*/

@media (max-width: 900px) {
  h1 {
    font-size: 35px;
  }

  h2,
  h4 {
    font-size: 20px;
  }

  .hero-btn {
    font-size: 15px;
    padding: 5px 10px;
    margin: 5px 5px;
  }

  .homepageParagraph {
    text-align: center;
  }

  .homepageParagraph a {
    font-size: 25px;
    text-decoration: underline;
    margin-top: 15px;
  }

  .socials h4 {
    display: none;
  }

  footer {
    font-size: 12px;
  }
}
