:root {
  --serif-font: "Noto Serif JP", serif;
  --sans-serif-font: "Raleway", sans-serif;

  --primary-color: #e6e6fa;
  --secondary-color: #8a2be2;
}

h1 {
  font-family: var(--serif-font);
  font-size: 80px;
}

h2 {
  font-size: 45px;
}

h4 {
  font-size: 28px;
}

h2,
h4,
.hero-nav-links {
  font-family: var(--sans-serif-font);
}

.navigationBar {
  font-family: var(--sans-serif-font);
  font-weight: 500;
}

.hero {
  background-color: var(--primary-color);
  text-align: center;
  padding-top: 160px;
  padding-bottom: 140px;
}

.tagline {
  margin-top: 25px;
}

.content {
  font-family: var(--sans-serif-font);
}

footer {
  font-family: var(--sans-serif-font);
  text-align: center;
}

footer a {
  text-decoration: none;
}

/* homepage css */

.hero-btn {
  background-color: var(--secondary-color);
  color: white;
  font-size: 18px;
  margin: 10px 10px;
  padding: 8px 20px;
}

.hero-btn:hover {
  background-color: #440a67;
  color: white;
  transition: 3ms ease-in-out;
}

.content a {
  text-decoration: none;
  font-family: var(--sans-serif-font);
}

.socials {
  margin: 100px 0 25px 0;
}

.linkedInLogo,
.githubLogo,
.instagramLogo {
  width: 50px;
  display: block;
  margin: 0 auto;
}

.socialsHeading {
  text-align: center;
  font-size: 18px;
  font-family: var(--sans-serif-font);
}

/* about page css */

/*Media Queries*/

@media (max-width: 900px) {
  h1 {
    font-size: 38px;
  }

  h2,
  h4 {
    font-size: 20px;
  }

  .hero-btn {
    font-size: 15px;
    padding: 5px 10px;
    margin: 5px 5px;
  }

  .content {
    text-align: center;
  }

  .content a {
    font-size: 25px;
    text-decoration: underline;
    margin-top: 15px;
  }

  .socials h4 {
    display: none;
  }

  .about {
    margin-top: 10px !important;
  }

  footer {
    font-size: 14px;
  }
}
